---
import { Image } from "astro:assets";
import heroImage from "../../../images/hero.webp";

import Button from "../../../components/Button.astro";
import Title from "../../../components/Title.astro";
import Paragraph from "../../../components/Paragraph.astro";
---

<header class="max-w-7xl mx-auto px-4 py-8 md:py-16 md:grid grid-cols-2 gap-8">
  {/* Hero texts */}
  <div
    class="flex flex-col gap-y-8 animate-fade-right justify-center text-center md:text-start"
  >
    <Title as="h1">Your rental journey begins here</Title>
    <Paragraph>
      We make finding rentals easy, effortless search, endless choices.
    </Paragraph>
    <div class="flex gap-8 flex-wrap justify-center md:justify-start">
      <Button>Rent now</Button>
      <Button variant="outline">Rent your place</Button>
    </div>
  </div>
  {/* Hero image */}
  <div class="grid place-items-center">
    <Image
      src={heroImage}
      alt="Illustration of two persons receiving the keys of their new home"
      class="w-full animate-fade-left max-w-md md:max-w-lg"
      width={500}
      height={500}
    />
  </div>
</header>
