---
import "@fontsource/david-libre";

import DesktopNavbar from "../components/home/navbar/DesktopNavbar.astro";
import MobileNavbar from "../components/home/navbar/MobileNavbar.astro";
import Hero from "../components/home/hero/Hero.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>RentHomes</title>
  </head>
  <body>
    <DesktopNavbar />
    <MobileNavbar />
    <Hero />
  </body>
</html>
