---
import "@fontsource/david-libre";

import DesktopNavbar from "../components/home/navbar/DesktopNavbar.astro";
import MobileNavbar from "../components/home/navbar/MobileNavbar.astro";
import HeroSection from "../components/home/hero/Hero.astro";
import AboutSection from "../components/home/about/About.astro";
import ServicesSection from "../components/home/our-services/Services.astro";
import TestimonialsSection from "../components/home/testimonials/Testimonials.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Find your ideal rental home effortlessly with our user-friendly house rental website. Explore a diverse range of listings, from cozy apartments to spacious family houses, with detailed descriptions and vivid photos. Your perfect home is just a click away!"
    />
    <title>RentHomes</title>
  </head>
  <body>
    <DesktopNavbar />
    <MobileNavbar />
    <HeroSection />
    <AboutSection />
    <ServicesSection />
    <TestimonialsSection />
    <Footer />
  </body>
</html>

<script
  defer
  src="https://unpkg.com/tailwindcss-intersect@1.x.x/dist/observer.min.js"
></script>
