---
import FooterSocialIcon from "./FooterSocialIcon.astro";
---

<div class="flex justify-evenly pt-6 pb-2 flex-wrap gap-8">
  <ul class="flex gap-4 flex-wrap justify-center">
    <FooterSocialIcon iconName="facebook" />
    <FooterSocialIcon iconName="instagram" />
    <FooterSocialIcon iconName="twitter" />
    <FooterSocialIcon iconName="youtube" />
  </ul>
  <p>Copyright 2023 Dscode | All rights reserved</p>
</div>
