---
import footerColumns from "../../data/footer/FooterColumns.json";
import BrandLogoAnchor from "../BrandLogoAnchor.astro";
import FooterColumn from "./FooterColumn.astro";
import FooterColumItem from "./FooterColumnItem.astro";
import FooterSocials from "./FooterSocials.astro";
---

<footer class="max-w-7xl mx-auto p-4 text-black/75 text-lg" id="contact">
  <div
    class="grid text text-center grid-cols-2 sm:text-start sm:grid-cols-3 md:grid-cols-4 gap-8 [&>div]:space-y-4"
  >
    {/* First column */}
    <div>
      <BrandLogoAnchor />
      <p>The best and easiest way to rent homes.</p>
    </div>
    {/* Second and third columns */}
    {
      footerColumns.map((column) => (
        <FooterColumn title={column.title}>
          {column.items.map((item) => (
            <FooterColumItem>
              <a href={item.href}>{item.text}</a>
            </FooterColumItem>
          ))}
        </FooterColumn>
      ))
    }
    {/* Fourth column */}
    <FooterColumn title={"Contact us"}>
      <FooterColumItem>
        <a href="mailto:example@email.com">Via email</a>
      </FooterColumItem>
      <FooterColumItem>
        <a href="tel:+64958248966">Via phone</a>
      </FooterColumItem>
      <FooterColumItem>
        <a href="#">Social media</a>
      </FooterColumItem>
    </FooterColumn>
  </div>
  <FooterSocials />
</footer>
