---
import { Icon } from "astro-icon/components";

type Service = {
  icon_name: string;
  title: string;
  description: string;
};

interface Props {
  service: Service;
}

const { service } = Astro.props;
---

<article
  class="bg-brand-green flex flex-col gap-4 p-8 rounded-3xl h-full text-white intersect:animate-fade-up"
>
  <Icon name={service.icon_name} size={96} class="mx-auto" />
  <h3 class="text-4xl font-bold">{service.title}</h3>
  <p class="text-lg text-balance">{service.description}</p>
</article>
